.cardBase {
  display: flex;
  padding: 30px 0px 30px 40px;
  background: #ffffff;
  border: 1px solid #e6eaee;
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  &_image {
    width: 80px;
    height: 80px;
    // background: #FFC107;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_info {
    display: flex;
    flex-direction: column;
    &-count {
      font-size: 36px;
      line-height: 43px;
      text-transform: uppercase;
      color: #222222;
      margin: 0;
      font-weight: 700;
      padding-bottom: 8px;
    }
    &-desc {
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0.1px;
      text-transform: capitalize;
      color: #595959;
    }
  }
}

.cardBase.total {
  .cardBase_image {
    background: #ffc107;
  }
}
.cardBase.active {
  .cardBase_image {
    background: #ed1c24;
  }
}
.cardBase.empty {
  .cardBase_image {
    background: #ffffff;
    border: 1px solid #ed1c24;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
  }
}
