* {
  box-sizing: border-box;
  margin: 0;
  p {
    margin: 0;
  }
  table {
    border-collapse: separate !important;
    border-spacing: 0 10px !important;
  }
}
.app {
  .content {
    display: flex;
    &_right {
      width: 100%;
      padding: 40px 70px;
      overflow-x: hidden;
      max-height: calc(100vh - 70px);
      .content_title {
        display: flex;
        justify-content: space-between;
        &-left {
          display: flex;
          // justify-content: center;
          align-items: center;
          @media (max-width: 993px) {
            display: none;
          }
          p {
            font-weight: 500;
            font-size: 24px;
            line-height: 28.13px;
            padding-right: 24px;
            margin: 0;
          }
          .time {
            font-weight: 300;
            font-size: 18px;
            line-height: 21.09px;
          }
        }
        &-right {
          display: flex;
          @media (max-width: 769px) {
            flex-direction: column;
            width: 100%;
          }
          .date {
            margin-right: 15px;
            @media (max-width: 769px) {
              width: 100%;
              padding-bottom: 15px;
              .ant-picker {
                width: 100%;
              }
            }
          }
          .region {
            margin-right: 15px;
            @media (max-width: 769px) {
              width: 100%;
              padding-bottom: 15px;
              .dropdown {
                width: 100%;
              }
            }
          }
          .store {
            @media (max-width: 769px) {
              width: 100%;
              .dropdown {
                width: 100%;
              }
            }
            .ant-select-selector {
              height: 36px;
              border-radius: 6px;
            }
          }
        }
      }
      .card_count {
        margin-top: 44px;
        margin-bottom: 40px;
      }
    }
  }
  .pagination {
    justify-content: flex-end;
    li a {
      border-radius: 5px;
      border: 1px solid #e6eaee;
      padding: 10px 15px;
      margin: 5px;
      font-family: Tahoma;
      font-size: 15px;
      line-height: 24px;
      color: black;
      text-decoration: none;
    }
    .previousLinkClassName a {
    }
    .nextBtn a {
    }
    .active a {
      background: #ed1c24;
      border: none;
      color: #ffffff;
    }
    .paginationDisabled a {
      color: #e6eaee;
    }
    .break-me a {
      border: none;
    }
  }
}

.btn {
  padding: 10px 65px;
  border-radius: 5px;
  border: none;
  font-family: Tahoma;
  font-size: 15px;
  font-weight: 600;
  // margin-bottom: 40px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
}
.ant-modal-content {
  border-radius: 5px;
  padding: 10px 20px 20px 0px;
  .ant-modal-body {
    padding: 10px 20px 10px 10px;
  }
}
